// scss file links 
@import './reset';
@import './variable';
@import './mixin';

body {
    min-height: 100vh;
    min-width: 100%;

    position: relative;
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: $Very-dark-blue-card-BG;
    width: clamp(10rem, 90%, 35rem);
    padding: 2.5em;
    border-radius: 1.5rem;

    box-shadow: 0 3rem 3rem .8rem hsl(217, 54%, 8%);

    @include flex(column, flex-start, center);
    gap: 2rem;
    
    
    & hr {
        width: 100%;
        height: .1rem;
        background-color: $Very-dark-blue-line;
    }
    
    .main-img {
        background: url('/images/image-equilibrium.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: min(100%, 30rem);
        height: 30rem;
        border-radius: 1.5rem;
        overflow: hidden;
        cursor: pointer;
        
        .view-icon-container {
            @include flex(column, center, center);
            width: 100%;
            height: 100%;
            visibility: hidden;

            background-color: rgba(0, 255, 255, 0.63);
        }
    }

    .main-img:hover {       
        .view-icon-container {
            visibility: visible;
        }
    }
    


    .title {
        font-size: 2.4rem;
        color: $White;
        cursor: pointer;
    }

    .title:hover {
        color: $Cyan;
    }
    
    .description {
        font-size: 1.8rem;
        line-height: 1.5;
        color: $Soft-blue;
    }
    
    .value-time-container {
        min-width: 100%;
        @include flex(row, center, space-between);
        
        .eth-value {
            font-size: 1.4rem;
            font-weight: 600;
            color: $Cyan

        }

        .time {
            @include flex(row, center, center);
            gap: .5rem;
            
            font-size: 1.4rem;
            color: $Soft-blue;
            
            & img {
                width: 1.5rem;
            }
        }
    }
    
    .avatar-container {
        @include flex(row, center, center);
        gap: 1rem;


        & img {
            max-width: 3.5rem;
            border-radius: 50%;
            border: .1rem solid $White;
        }

        & p {
            font-size: 1.8rem;
            color: $Soft-blue;

            & span {
                color: $White;
                font-weight: 500;
                transition: .2s linear;
                cursor: pointer;
            }

            & span:hover {
                color: $Cyan;
            }
        }
    }

}